.blog_middel_text {
    width: 100%;
    position: absolute !important;
    top: calc(37vh - 2rem);
    /* text-align: center; */
    /* margin-left: -4rem; */
    /* background-color: grey; */
}

.blog_middel_text>span {
    width: 100%;
    font-size: 3rem;
    color: #FFF;
    position: absolute;
    text-align: center;
    /* background-color: greenyellow; */
    /* padding-top: calc(30vh - 2rem); */
    /* vertical-align: middle; */
    /* margin-left: -8vw; */
}

.blog_middel_text>span::before {
    content: " " !important;
    background-color: #3F92F4;
    border: solid 2px #3F92F4;
    border-radius: 8px;
    padding-right: 12px;
    margin-right: 10px;
}

.blog_with_info {
    min-height: 40vh;
    margin: 80px 0px;
    border-radius: 20px;
    overflow: hidden;
    color: #FFF;
}


/* .back_white {
    background-color: #ff0;
} */

.blog_text_box {
    background: linear-gradient(to right, rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0.2)) !important;
}

.rounded-image {
    border-radius: 10px;
    overflow: hidden;
}

.text-white {
    color: #FFF;
}

.image_title_text {
    font-size: 3rem;
}

.double_quote {
    height: 45px;
    width: 31px;
    margin-top: -50px;
}

@media screen and (max-width: 480px) {
    .image_title_text {
        font-size: 1.5rem !important;
    }
    .double_quote {
        height: 25px;
        width: 15px;
        margin-top: -40px;
    }
    .blog_with_info {
        width: 96%;
        margin-left: 2% !important;
    }
}

.left_arrow:hover svg path:first-of-type {
    stroke: #00B5FF;
}

.left_arrow:hover svg path:last-of-type {
    fill: #00B5FF;
}

.left_arrow svg path:last-of-type {
    fill: #0090FF;
}

.blog_controler {
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr [right_arrow_start] auto;
    /* background-color: #00B5FF; */
}

.right_arrow_box {
    grid-column-start: right_arrow_start;
}

.right_arrow:hover svg path:first-of-type {
    stroke: #00B5FF;
}

.right_arrow:hover svg path:last-of-type {
    fill: #00B5FF;
}

.right_arrow svg path:last-of-type {
    fill: #0090FF;
}