html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font: 112.5%/1.45em georgia, serif, sans-serif;
    box-sizing: border-box;
    /* overflow-y: scroll; */
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: hsla(0, 0%, 0%, 0.8);
    font-family: georgia, serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
    background-image: linear-gradient(to bottom, #012e67, #8D166c);
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
}

.header_ {
    /* min-height: 1vh; */
    width: 100vw;
    background-color: #1A0369 !important;
    /* box-shadow: 1px 1px; */
}

footer {
    background-color: #1A0369 !important;
    height: auto;
}

.company-tag:hover {
    text-decoration: none;
    color: blueviolet;
}

.company-tag {
    color: blueviolet;
    font-size: 35px;
}

section:first-of-type {
    margin-top: 15vh;
}

section {
    min-height: 90vh;
    width: 100vw;
    vertical-align: middle;
    color: #FFF;
}


/* section:last-of-type {
    min-height: 50vh;
} */

@font-face {
    font-family: SFProDisplay;
    src: url("../fonts/SFProDisplay.ttf");
}

.modal_copy>*::-webkit-scrollbar {
    display: none;
}

.book-demo {
    /* border-radius: 15px !important; */
    /* background: linear-gradient(to right, rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0.7)) !important; */
    /* border: none !important;
    font-weight: 800 !important; */
    /* Rectangle 5 */
    background: linear-gradient(213.02deg, #FFFFFF -124.89%, rgba(255, 255, 255, 0) 80.3%), #0A74F1 !important;
    /* box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1);*/
    /* Book a demo */
    /* position: absolute; */
    font-family: SFProDisplay, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
    /* font-style: normal; */
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    height: 50px;
    border: none !important;
    border-radius: 16px !important;
}

section>div>h2>span,
section>h2>span {
    display: inline-block;
    /* padding-right: 5px; */
    /* width: 10px; */
    border: 4px solid blue;
    font-size: 30px;
    height: 30px;
    background-color: #596AF9;
    border-radius: 4px;
}

section>div>h1 {
    font-weight: 800;
    font-size: 2rem;
    font-family: SFProDisplay, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: linear-gradient(to bottom, #fff, #0A74F1); */
    background: -webkit-linear-gradient(#5d94d3, #0A74F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.checked {
    color: yellow
}

section>div>h2 {
    font-weight: 500;
}

section>div>a {
    font-size: 15px;
}

section>div>img {
    width: 96%;
    margin-left: 2%;
}

section>div>h2 {
    margin-top: 10vh;
}

.explore_button {
    color: #fff;
    display: inline-block;
    font-weight: 600;
    background: linear-gradient(213.02deg, #FFFFFF -124.89%, rgba(255, 255, 255, 0) 80.3%), #0A74F1;
    box-shadow: 2px 2px 4px rgba(255, 252, 252, 0.1);
    border-radius: 19px;
    font-family: SFProDisplay, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
    transition: 0.2s;
    cursor: pointer;
}

.explore_button:hover {
    background: linear-gradient(to top right, #6E88FA, #4B3CFD, #490AF6);
    /* text-decoration: none;
    font-size: 22px;
    box-shadow: 5px; */
    color: #FFF;
    /* Explore features button */
    background: linear-gradient(213.02deg, #FFFFFF -124.89%, rgba(255, 255, 255, 0) 80.3%), #0A74F1;
    box-shadow: 2px 2px 4px rgba(255, 252, 252, 0.1);
    border-radius: 19px;
    font-family: SFProDisplay, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.learning1>div {
    padding-top: 10vh;
}


/* .scroller>div {
    height: 400px;
    background-color: #596AF9;
    margin-left: 20px;
} */

.scroller {
    width: 90% !important;
    height: 500px;
    margin: 5%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.slick-slide {
    height: 320px;
    /* border: 4px solid #F25634; */
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.card1 {
    width: calc(100% - 40px);
    margin-left: 20px;
    background: linear-gradient(to bottom, rgba(1, 46, 103, 0.3), rgba(1, 46, 103, 0.8)) !important;
}

.footer-item {
    /* height: 10px; */
    line-height: 50px;
}

.slick-arrow {
    display: none !important;
}

.slick-dots {
    position: absolute;
}

.slick-dots>li>button::before {
    content: " " !important;
    background-color: #250068;
    border: solid 3px #250068;
    border-radius: 50%;
    padding-right: 15px;
}

.slick-list {
    padding-bottom: 20px !important;
}

.slick-dots>li.slick-active {
    border-radius: 50%;
    padding-right: 15px;
    /* width: 22px;
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF, 0 0 3px #FF0000, 0 0 5px #0000FF; */
    transform: scale(1.5);
}

@media screen and (max-width: 500px) {
    /* footer {
        min-height: 40vh;
    } */
    section {
        margin-left: 5%;
        margin-bottom: 10vh;
    }
    section>div {
        margin-left: 5%;
    }
    .book-demo {
        margin-right: -15px;
    }
    h2,
    .h2 {
        font-size: 30px !important;
    }
    .bite_sized {
        font-size: 30px;
        padding-bottom: 20px;
    }
    #start {
        min-height: fit-content;
        height: 70vh !important;
    }
}

@media screen and (max-width: 800px) {
    .scroller {
        margin-left: 3%;
    }
}

.img-bordered {
    border: solid 2px rgba(141, 22, 108, 0.5);
    border-radius: 10px !important;
}

.icon-text>h1 {
    line-height: 15px;
}

.icon-text>p {
    font-weight: 300 !important;
    font-size: 14px;
}

.copyright,
.older_post {
    font-family: SFProDisplay, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 16px;
}

.slider-containar {
    width: 90vw;
    height: 400px !important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.p {
    /* Sub-heading */
    position: absolute;
    width: 572px;
    height: 100px;
    left: 100px;
    top: 436px;
    /* Rectangle 7 */
    position: absolute;
    width: 99px;
    height: 19px;
    left: 196px;
    top: 513px;
    background: #3F92F4;
    /* Enterprise skill enhancement platform for the mobile workforce. */
    position: absolute;
    width: 572px;
    height: 100px;
    left: 100px;
    top: 436px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 50px;
    /* or 147% */
    color: #FFFFFF;
}

.recent_blogs {
    /* Frame 10 */
    background: linear-gradient(180.23deg, rgba(255, 255, 255, 0.42) -353.01%, rgba(255, 255, 255, 0) 99.8%), linear-gradient(180.02deg, rgba(141, 22, 108, 0) -96.23%, rgba(1, 46, 103, 0.21) 99.99%);
    box-shadow: inset 1px 1px 40px rgba(147, 132, 248, 0.15);
    filter: drop-shadow(0px 6px 18px rgba(147, 132, 248, 0.1));
    border-radius: 8px;
    position: static;
    width: 100% !important;
    min-height: 50vh;
    /* background-color: red; */
}

.recent_blogs {
    font-family: SFProDisplay, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    font-weight: 100 !important;
}

.recent_blogs div h1::before {
    content: " ";
    background-color: #3F92F4;
    border: solid 3px #3F92F4;
    border-radius: 50px;
    padding-right: 5px;
    margin-right: 5px;
}

.recent_blog_container {
    width: 100%;
    /* display: flex; */
}

section div a {
    color: #FFFFFF;
    text-decoration: underline;
}

a {
    color: #f7f7f7;
}

.oneblog>* {
    color: #FFF;
}

.not-found {
    min-height: 70vh;
}

.slick-dots>li>button::before {
    background-color: #9384F8;
}

.link-text>a>ins {
    color: #FFF;
}


/* Who loves to take their compliance courses? Judging by the amount of coverage of the term learning experience or LXP, the answer is that very few people are fully engaged, highly pleased, or even willing to take the courses assigned to them. Something’s fundamentally wrong with digital learning and now we’re starting to see the same problems arise with the omnipresence of remote learning in today’s socially distant world. No one ever loved learning through a learning management system (LMS) but we continue to use it as a primary source to deliver critical compliance information which gets lost in the digital junk drawer. Now we’re seeing a problematic learning concept of “first presentation” of materials. Because of low expectations, perhaps even a distaste for traditional learning experiences, there’s legitimate resistance, and sometimes even revulsion, to learn the first presentation of materials using an LMS. No matter how important the material is for an employee's success on the job or to the organization, people think of the learning through an LMS as one dreadful administrative burden while simultaneously putting them to boredom. It’s another thing to add to the to-do list and takes time away from doing their job. Maybe people pay some attention to what they’re supposed to be learning. But even when they do, are they paying attention to the right things? Unfortunately, a heavy load of disengagement starts at the moment someone receives their invitation email to a course. Then people start to think: Is this a precursor to the course? Is it another learning exercise? Why am I doing this again? Does my manager care how I score? How do I login to the system? Did I just get kicked out of the system and do I have to do it again? Before anyone has even completed the course, the time and money spent on the course has already been wasted. The act of presenting new information to people for the first time is at risk of alienation before someone even gives the course a chance. In an era when people are looking to get information from the quickest source possible, first presentation of learning content is a battle for getting the attention of a learner. Are you comfortable that legacy learning tools won’t help you win the battle for attention? Microlearning for a Great First Impression Learning professionals have the opportunity to adopt microlearning to engage their audiences in ways that ensure that the first presentation of materials actually makes a great first impression. Here are some of the reasons that best practice microlearning is an incredibly valuable method for first presentation for critical training and compliance. Engaging You can’t teach the first presentation of knowledge if you don’t gain the audiences’ attention to begin with. This is why microlearning engages people in learning that's not possible using traditional learning methods when presenting new knowledge: Mobile: A welcoming, friction-free modern learning experience makes a real difference for users who are accustomed to using mobile devices for outside of work and prefer the use of mobile devices for work purposes as well. Scenario-Based Learning and the Testing Effect: Instead of forcing people to sit through boring, time-consuming SCORM courses, scenario-based learning that incorporates the testing effect challenges a learner to actively think. Time-Respectful Learning should happen on a learners' own schedule, not on the schedule prescribed by an algorithm determined by an LMS. Microlearning succeeds where traditional online learning fails by: Respect the Audiences Time: Breaking content into learning exercises is relative to the real world and most importantly shortening content so that it isn’t one lengthy SCORM course. Respectfully Persistent: The spacing effect delivers information initially and then repeats it later to drive long-term knowledge retention to help people remember what you absolutely need them to know without overwhelming them with too much information. Focus on the Most Important Stuff: Not all information in a SCORM course is always relative to the person taking it. The learner has to go through an entire SCORM course to find what’s the most important information they need to know. Microlearning doesn’t just shrink content, it helps instructional designers feed the right knowledge that matters most to people’s work. Native Mobile App: While some SCORM courses may be viewed and taken on a mobile phone, microlearning content doesn’t just fit on a mobile phone, it’s delivered in a way that’s uniquely suited for a mobile workforce. This is incredibly important in the context of today’s remote workforce in which everyone is mobile. Save Money: At the same time, microlearning is more effective at delivering long-term knowledge retention and costs dramatically less than many traditional learning methods. This is because it takes less time to create content and deliver it to the learner. */