html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font: 112.5%/1.45em georgia, serif, sans-serif;
    box-sizing: border-box;
    /* overflow-y: scroll; */
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: hsla(0, 0%, 0%, 0.8);
    font-family: georgia, serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
    background-image: linear-gradient(to bottom, #012e67, #8D166c);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header_ {
    /* min-height: 1vh; */
    width: 100vw;
    background-color: #1A0369 !important;
    box-shadow: 1px 1px;
}

footer {
    background-color: #1A0369 !important;
    height: auto;
}

.company-tag:hover {
    text-decoration: none;
    color: blueviolet;
}

.company-tag {
    color: blueviolet;
    font-size: 35px;
}

section:first-of-type {
    margin-top: 15vh;
}

section {
    min-height: 100vh;
    width: 100vw;
    vertical-align: middle;
    color: #FFF;
}

@font-face {
    font-family: SFProDisplay;
    src: url("../fonts/SFProDisplay.ttf");
}

.modal_copy>*::-webkit-scrollbar {
    display: none;
}

.book-demo {
    border-radius: 15px !important;
    background: linear-gradient(to right, rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0.7)) !important;
    border: none !important;
    font-weight: 800 !important;
}

section>div>h2>span,
section>h2>span {
    display: inline-block;
    /* padding-right: 5px; */
    /* width: 10px; */
    border: 4px solid blue;
    font-size: 30px;
    height: 30px;
    background-color: #596AF9;
    border-radius: 4px;
}

section>div>h1 {
    font-weight: 800;
    font-size: 2rem;
    font-family: SFProDisplay;
    /* color: linear-gradient(to bottom, #fff, #0A74F1); */
    background: -webkit-linear-gradient(#5d94d3, #0A74F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.checked {
    color: yellow
}

section>div>h2 {
    font-weight: 500;
}

section>div>a {
    font-size: 15px;
}

section>div>img {
    width: 96%;
    margin-left: 2%;
}

section>div>h2 {
    margin-top: 10vh;
}

.explore_button {
    color: #fff;
    font-weight: 600;
    background: linear-gradient(to top right, #490AF6, #4B3CF7, #6E88FA);
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
    transition: 0.2s;
    cursor: pointer;
}

.explore_button:hover {
    background: linear-gradient(to top right, #6E88FA, #4B3CFD, #490AF6);
    text-decoration: none;
    font-size: 22px;
    box-shadow: 5px;
    color: #FFF;
}

.learning1>div {
    padding-top: 10vh;
}


/* .scroller>div {
    height: 400px;
    background-color: #596AF9;
    margin-left: 20px;
} */

.scroller {
    width: 90% !important;
    height: 500px;
    margin: 5%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.slick-slide {
    height: 320px;
    /* border: 4px solid #F25634; */
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.card1 {
    width: calc(100% - 40px);
    margin-left: 20px;
    background: linear-gradient(to bottom, rgba(1, 46, 103, 0.3), rgba(1, 46, 103, 0.8)) !important;
}

.footer-item {
    /* height: 10px; */
    line-height: 50px;
}

.slick-arrow {
    display: none !important;
}

.slick-dots {
    position: absolute;
}

.slick-dots>li>button::before {
    content: " " !important;
    background-color: #250068;
    border: solid 3px #250068;
    border-radius: 50%;
    padding-right: 15px;
}

.slick-list {
    padding-bottom: 20px !important;
}

.slick-dots>li.slick-active {
    border-radius: 50%;
    padding-right: 15px;
    width: 22px;
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF, 0 0 3px #FF0000, 0 0 5px #0000FF;
}

@media screen and (max-width: 500px) {
    /* footer {
        min-height: 40vh;
    } */
    section {
        margin-left: 5%;
        margin-bottom: 10vh;
    }
    section>div {
        margin-left: 5%;
    }
}

@media screen and (max-width: 800px) {
    .scroller {
        margin-left: 3%;
    }
}

.img-bordered {
    border: solid 2px rgba(141, 22, 108, 0.5);
    border-radius: 10px !important;
}

.icon-text>h1 {
    line-height: 15px;
}

.icon-text>p {
    font-weight: 300 !important;
    font-size: 14px;
}

.copyright {
    font-family: SFProDisplay;
    line-height: 16px;
}